@import './components/Section.css';
@import './components/Menu.css';

    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
    }

    body {
        background: #eeeeee;
    }

    .wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        height: 600px;
        justify-content: center;
    }

    /* CONTENT */
    #blocks {
        margin: 20px;
    }

    article {
        background: #ffffff;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    article h2 {
        text-align: center;
        font-size: 20px;
        margin: 10px;
    }

    


/* FLEX STYLES */

@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content: flex-start;
    }
        
    nav li {
        flex: 1 1 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

/* CONTENT */


}
